@import url('https://fonts.googleapis.com/css?family=Nunito|Shrikhand&display=swap');
body {
    background-color: rgb(252, 241, 212);
    text-align: center;
    font-family: 'Nunito', sans-serif;

      /* font: italic bold 12px/30px Georgia, serif; */


}

/* header styles */
h1, h2{
    font-family: 'Shrikhand', cursive;
}
h1{
    font-size: 3em;
    color: orange;
}
h2{
    font-size: 2em;
    color: green;
}
/* toggleable classes */
.completed {
    color: rgb(212, 204, 182);
}