@import url('https://fonts.googleapis.com/css?family=Montserrat|Shrikhand&display=swap');
body {
    background-color: rgb(252, 225, 234);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    color: green;
      /* font: italic bold 12px/30px Georgia, serif; */


}

/* header styles */
h1, h2, h3{
    font-family: 'Shrikhand', cursive;
}
h1{
    font-size: 3em;
    color: orange;
}
h2{
    font-size: 2em;
    color: green;
}

/* block styles*/
section{
    margin: 30px;
    padding: 10px;
}
#input-section{
    background-color: ivory;
    border: 3px solid green;
    border-radius: 30px;
    width: 300px;
    margin: 20px auto;
}
.label-input, button{
    margin-top: 1em;
}
/* list styles */

li {
    background-color: ivory;
    border: 3px solid green;
    border-radius: 30px;
    width: 70vw;
    min-width: 400px;
    margin: 20px auto;
    padding: .5em;
    text-align: center;
}

li p {
    font-size: .8em;
}

label{
    text-transform: uppercase;
}
button {
    background-color: orange;
    text-transform: uppercase;
    color: green;
    height: 2em;
    border: none;
    border-radius: 20px;
}

button:hover {
    font-weight: bold;
}
/* toggleable classes */
.completed-true {
    color: rgb(236, 241, 236);
}
.completed-false {
    color: green;
}
    /* if completed, dont show complete button */
    .completed-true .completeButton {
        display: none;
    }